/* #region Variables */
:root {
    /* #region Text */
    --text-main: #eaeaea;
    --text-mid: #cecece;
    --text-sub: #aeaeae;

    --weight-thin: 300;
    --weight-medium: 400;
    --weight-bold: 700;
    /* #endregion */

    --rounding-light: 4px;
    --rounding-medium: 8px;
    --rounding-heavy: 16px;

    /* #region Glass Div */
    --glass-bg-gradient-light: rgba(100, 100, 100, 0.1);
    --glass-bg-gradient-dark: rgba(50, 50, 50, 0.1);
    --glass-bg: linear-gradient(140deg, var(--glass-bg-gradient-light) 0%, var(--glass-bg-gradient-dark) 100%);

    --glass-hover-gradient-light: rgba(150, 150, 150, 0.1);
    --glass-hover-gradient-dark: rgba(80, 80, 80, 0.1);
    --glass-hover: linear-gradient(140deg, var(--glass-hover-gradient-light) 0%, var(--glass-hover-gradient-dark) 100%);

    --glass-click-gradient-light: rgba(180, 180, 180, 0.1);
    --glass-click-gradient-dark: rgba(110, 110, 110, 0.1);
    --glass-click: linear-gradient(140deg, var(--glass-click-gradient-light) 0%, var(--glass-click-gradient-dark) 100%);
    /* #endregion */

    --bg-gradient-light: rgba(45, 45, 45, 1);
    --bg-gradient-dark: rgba(25, 25, 25, 1);
    
    --background-blur: blur(12px);

    --glass-shadow: 0px 0px 16px -3px #00000030;
}
/* #endregion */

/* #region Main */
* { box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
body, html {
    margin: 0; padding: 0;
    height: 100vh; width: 100vw;

    /* Font */
    font-size: 1rem;
    font-weight: 400; /* 100 ~ 900 */
    color: var(--text-main);
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto; font-style: normal; font-variation-settings: "wdth" 100;

    /* Background gradient */
    /* background: var(--bg-gradient-light); */
    /* background: -webkit-linear-gradient(140deg, var(--bg-gradient-light) 0%, var(--bg-gradient-dark) 100%); */
    /* background: -moz-linear-gradient(140deg, var(--bg-gradient-light) 0%, var(--bg-gradient-dark) 100%); */
    /* background: linear-gradient(140deg, var(--bg-gradient-light) 0%, var(--bg-gradient-dark) 100%); */
}

img { width: 100%; height: 100%; }

.wrapper {
    width: 100%; height: fit-content;
    padding: 7rem 5% 5% 5%;
}
/* #endregion */

/* #region Text */
a, p {
    font-size: 1.2rem;
    color: var(--text-mid);
    font-weight: var(--weight-medium);
    text-decoration: none;
    margin: 0;
}

h1 {
    font-size: 4rem;
    color: var(--text-main);
    font-weight: var(--weight-bold);
    text-decoration: none;
    margin: 2.5rem 0 2.5rem 0;
    text-shadow: 0px 0px 16px #00000030;
}

h2 {
    font-size: 2.5rem;
    color: var(--text-main);
    font-weight: var(--weight-bold);
    text-decoration: none;
    margin: 0;
    margin: 1.5rem 0 1.5rem 0;
    text-shadow: 0px 0px 16px #00000030;
}

h3 {
    font-size: 1.8rem;
    color: var(--text-mid);
    font-weight: var(--weight-bold);
    text-decoration: none;
    margin: 0;
    margin: 1rem 0 1rem 0;
    text-shadow: 0px 0px 16px #00000030;
}
/* #endregion */

/* #region Div Styles */
.glass {
    --gap: 1rem;
    --padding: 1rem;
    
    display: flex;
    width: fit-content; height: fit-content;

    background-color: var(--glass-bg-gradient-light);
    background: var(--glass-bg);
    box-shadow: var(--glass-shadow);

    padding: var(--padding);
    gap: var(--gap);
    backdrop-filter: var(--background-blur);
}

.glass.clickable:hover {
    background: var(--glass-hover-gradient-light);
    background: linear-gradient(140deg, var(--glass-hover-gradient-light) 0%, var(--glass-hover-gradient-dark) 100%);
}

.glass.clickable:active {
    background: var(--glass-click-gradient-light);
    background: linear-gradient(140deg, var(--glass-click-gradient-light) 0%, var(--glass-click-gradient-dark) 100%);
}
/* #endregion */

/* #region Positioning */
.centered { display: flex; justify-content: center; align-items: center; text-align: center;}

/* Positioning - Rows */
.row { display: flex; flex-direction: row; }
.row.left { justify-content: left; }
.row.center { justify-content: center; }
.row.right { justify-content: right; }
.row.top { align-items: start; }
.row.middle { align-items: center; }
.row.bottom { align-items: end; }

/* Positioning - Columns */
.col { display: flex; flex-direction: column; }
.col.left { align-items: start; }
.col.center { align-items: center; }
.col.right { align-items: end; }
.col.top { justify-content: left; }
.col.middle { justify-content: center; }
.col.bottom { justify-content: right; }

/* Space Equally */
.row.space-equally {
    --cols: 2;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
}
.col.space-equally {
    --rows: 2;
    display: grid;
    grid-template-columns: repeat(var(--rows), 1fr);
}
/* #endregion */

/* #region Grid */
.auto-grid {
    --min-col-size: 200px;
    --col-gap: 1rem;
    --row-gap: 1rem;

    display: grid;
    column-gap: var(--col-gap); row-gap: var(--row-gap);
    grid-template-columns: repeat(auto-fill, minmax(min(var(--min-col-size), 100%), 1fr));
}

/* Same as above but if there are too few items, they will stretch to fill the space */
.auto-grid-fill {
    --min-col-size: 200px;
    --col-gap: 1rem;
    --row-gap: 1rem;

    display: grid;
    column-gap: var(--col-gap); row-gap: var(--row-gap);
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 100%), 1fr));
}
/* #endregion */

/* #region rounding */
.rounded-light { border-radius: var(--rounding-light); }
.rounded-medium { border-radius: var(--rounding-medium); }
.rounded-heavy { border-radius: var(--rounding-heavy); }
.rounded-max { border-radius: 1000px; }
.rounded-ellipsis { border-radius: 100%; }
/* #endregion */

/* #region Glow */
.text-glow {
    --color: #ffffff60;
    --glow: 12px;

    text-shadow: 0px 0px var(--glow) var(--color);
}

.div-glow {
    --color: #ffffff60;
    --glow: 12px;
    
    -webkit-box-shadow:0px 0px var(--glow) 0px var(--color);
    -moz-box-shadow: 0px 0px var(--glow) 0px var(--color);
    box-shadow: 0px 0px var(--glow) 0px var(--color);
}
/* #endregion */

/* #region Clickable */
.clickable:hover {
    cursor: pointer;
}
/* #endregion */

/* #region Image Cropping */
.crop-square {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
    height: auto;
    flex-shrink: 0;
}
.crop-circle {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
    height: auto;
    flex-shrink: 0;
    border-radius: 100%;
}
/* #endregion */

/* #region Buttons */
.button-green {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    height: fit-content; width: fit-content;
    padding: 0.3rem 1.6rem 0.3rem 1.6rem;
    
    background: linear-gradient(140deg, #3fbf3f 0%, #1a9a1a 100%);
    box-shadow: inset 0px 0px 4px 0px #ffffff60,
                var(--glass-shadow);

    transition-duration: 0.2s;
    &:hover {
        cursor: pointer;
        background: linear-gradient(140deg, #4fcf4f 0%, #2aaa2a 100%);
    }
    &:active {
        background: linear-gradient(140deg, #2faf2f 0%, #0a8a0a 100%);
    }
}

.button-blue {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    height: fit-content; width: fit-content;
    padding: 0.3rem 1.6rem 0.3rem 1.6rem;
    
    background: linear-gradient(140deg, #3f7fbf 0%, #1a5a9a 100%);
    box-shadow: inset 0px 0px 4px 0px #ffffff60,
                var(--glass-shadow);

    &:hover {
        cursor: pointer;
        background: linear-gradient(140deg, #4f8fcf 0%, #2a6aaa 100%);
    }
    &:active {
        background: linear-gradient(140deg, #2f6faf 0%, #0a4a8a 100%);
    }
}

.button-red {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    height: fit-content; width: fit-content;
    padding: 0.3rem 1.6rem 0.3rem 1.6rem;
    
    background: linear-gradient(140deg, #bf3f3f 0%, #9a1a1a 100%);
    box-shadow: inset 0px 0px 4px 0px #ffffff60,
                var(--glass-shadow);

    &:hover {
        cursor: pointer;
        background: linear-gradient(140deg, #cf4f4f 0%, #aa2a2a 100%);
    }
    &:active {
        background: linear-gradient(140deg, #af2f2f 0%, #8a0a0a 100%);
    }
}

.button-neutral {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    height: fit-content; width: fit-content;
    padding: 0.3rem 1.6rem 0.3rem 1.6rem;
    
    background: linear-gradient(140deg, #bfbfbf 0%, #9a9a9a 100%);
    box-shadow: inset 0px 0px 4px 0px #ffffff60,
                var(--glass-shadow);

    transition-duration: 0.2s;
    &:hover {
        cursor: pointer;
        background: linear-gradient(140deg, #cfcfcf 0%, #aaaaaa 100%);
    }
    &:active {
        background: linear-gradient(140deg, #afafaf 0%, #8a8a8a 100%);
    }
}
/* #endregion */
