/* #region Variables */
:root {
    --text-main: #eaeaea;
    --text-mid: #cecece;
    --text-sub: #aeaeae;

    --weight-thin: 300;
    --weight-medium: 400;
    --weight-bold: 700;

    --rounding-light: 4px;
    --rounding-medium: 8px;
    --rounding-heavy: 16px;

    --background-blur: blur(12px);

    --glass-bg-gradient-light: rgba(100, 100, 100, 0.1);
    --glass-bg-gradient-dark: rgba(50, 50, 50, 0.1);
    --glass-bg: linear-gradient(140deg, var(--glass-bg-gradient-light) 0%, var(--glass-bg-gradient-dark) 100%);

    --glass-hover-gradient-light: rgba(130, 130, 130, 0.1);
    --glass-hover-gradient-dark: rgba(70, 70, 70, 0.1);
    --glass-hover: linear-gradient(140deg, var(--glass-hover-gradient-light) 0%, var(--glass-hover-gradient-dark) 100%);

    --glass-click-gradient-light: rgba(160, 160, 160, 0.1);
    --glass-click-gradient-dark: rgba(90, 90, 90, 0.1);
    --glass-click: linear-gradient(140deg, var(--glass-click-gradient-light) 0%, var(--glass-click-gradient-dark) 100%);


    --bg-gradient-light: rgba(45, 45, 45, 1);
    --bg-gradient-dark: rgba(25, 25, 25, 1);

    --glass-shadow: 0px 0px 16px -3px #00000030;
}
/* #endregion */

/* #region Main */
* { box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
body, html {
    margin: 0; padding: 0;
    height: 100vh; width: 100vw;

    /* Font */
    font-size: 1rem;
    font-weight: 400; /* 100 ~ 900 */
    color: var(--text-main);
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto; font-style: normal; font-variation-settings: "wdth" 100;

    /* Background gradient */
    background: var(--bg-gradient-light);
    background: -webkit-linear-gradient(140deg, var(--bg-gradient-light) 0%, var(--bg-gradient-dark) 100%);
    background: -moz-linear-gradient(140deg, var(--bg-gradient-light) 0%, var(--bg-gradient-dark) 100%);
    background: linear-gradient(140deg, var(--bg-gradient-light) 0%, var(--bg-gradient-dark) 100%);
}

img { width: 100%; height: 100%; }

.wrapper {
    width: 100%; height: fit-content;
    padding: 7rem 5% 5% 5%;
}
/* #endregion */

/* #region Text */
a, p {
    font-size: 1.2rem;
    color: var(--text-mid);
    font-weight: var(--weight-medium);
    text-decoration: none;
    margin: 0;
}

h1 {
    font-size: 4rem;
    color: var(--text-main);
    font-weight: var(--weight-bold);
    text-decoration: none;
    margin: 2.5rem 0 2.5rem 0;
    text-shadow: 0px 0px 16px #00000030;
}

h2 {
    font-size: 2.5rem;
    color: var(--text-main);
    font-weight: var(--weight-bold);
    text-decoration: none;
    margin: 0;
    margin: 1.5rem 0 1.5rem 0;
    text-shadow: 0px 0px 16px #00000030;
}

h3 {
    font-size: 1.8rem;
    color: var(--text-mid);
    font-weight: var(--weight-medium);
    text-decoration: none;
    margin: 0;
    margin: 1rem 0 1rem 0;
    text-shadow: 0px 0px 16px #00000030;
}
/* #endregion */

/* #region Div Styles */
.glass {
    --gap: 1rem;
    --padding: 1rem;
    
    display: flex;
    width: fit-content; height: fit-content;

    background-color: var(--glass-bg-gradient-light);
    background: var(--glass-bg);
    box-shadow: var(--glass-shadow);

    padding: var(--padding);
    gap: var(--gap);
    backdrop-filter: var(--background-blur);
}

.glass.clickable:hover {
    background: var(--glass-hover-gradient-light);
    background: linear-gradient(140deg, var(--glass-hover-gradient-light) 0%, var(--glass-hover-gradient-dark) 100%);
}

.glass.clickable:active {
    background: var(--glass-click-gradient-light);
    background: linear-gradient(140deg, var(--glass-click-gradient-light) 0%, var(--glass-click-gradient-dark) 100%);
}
/* #endregion */

/* #region Positioning */
.centered { display: flex; justify-content: center; align-items: center; text-align: center;}
.centered-main { display: flex; justify-content: center; }
.centered-sec { display: flex; align-items: center; }
.col { display: flex; flex-direction: column; }
.space-equally {
    display: flex;
    gap: 1rem;
    & > * { flex: 1; }
}
/* #endregion */

/* #region Grid */
.auto-grid {
    --min-col-size: 200px;
    --col-gap: 1rem;
    --row-gap: 1rem;

    display: grid;
    column-gap: var(--col-gap); row-gap: var(--row-gap);
    grid-template-columns: repeat(auto-fill, minmax(min(var(--min-col-size), 100%), 1fr));
}

/* Same as above but if there are too few items, they will stretch to fill the space */
.auto-grid-fill {
    --min-col-size: 200px;
    --col-gap: 1rem;
    --row-gap: 1rem;

    display: grid;
    column-gap: var(--col-gap); row-gap: var(--row-gap);
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 100%), 1fr));
}
/* #endregion */

/* #region rounding */
.rounded-light { border-radius: var(--rounding-light); }
.rounded-medium { border-radius: var(--rounding-medium); }
.rounded-heavy { border-radius: var(--rounding-heavy); }
/* #endregion */

/* #region Glow */
.text-glow {
    --color: #ffffff60;
    --glow: 12px;

    text-shadow: 0px 0px var(--glow) var(--color);
}

.div-glow {
    --color: #ffffff60;
    --glow: 12px;
    
    -webkit-box-shadow:0px 0px var(--glow) 0px var(--color);
    -moz-box-shadow: 0px 0px var(--glow) 0px var(--color);
    box-shadow: 0px 0px var(--glow) 0px var(--color);
}
/* #endregion */

/* #region Clickable */
.clickable:hover {
    cursor: pointer;
}
/* #endregion */

/* #region Images */
.crop-square {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
}
/* #endregion */