nav {
    background-color: #7d7d7d1a;
    height: 6rem;
    width: fit-content;
    border-radius: var(--rounding-medium, 16px);
    backdrop-filter: var(--background-blur, blur(16px));

    position: fixed; display: flex;
    box-shadow: var(--glass-shadow);
    margin-top: 1vw;
    padding-left: 1rem; padding-right: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

nav a {
    width: 4rem;
    font-size: 2.5rem;

    display: flex; justify-content: center; align-items: center;
    height: 100%;
}