nav {
    box-shadow: #7d7d7d1a;
    width: 6rem;
    height: fit-content;
    border-radius: var(--rounding-medium, 16px);
    backdrop-filter: var(--background-blur, blur(16px));
    gap: 1rem;

    position: fixed; display: flex; flex-direction: column;
    box-shadow: var(--glass-shadow);
    margin-left: 1vw;
    padding-top: 1rem; padding-bottom: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

nav a {
    height: 4rem;
    font-size: 2.5rem;

    display: flex; justify-content: center; align-items: center;
    width: 100%;
    text-shadow: 0px 0px 16px #00000030;

    &:hover {
        color: var(--text-main);
        text-shadow: 0px 0px 16px #000000a0;
    }
}